<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">

    <h2>Sign Up</h2>

    <form method="POST" action="/signup_submit">

        <label>Name</label>
        <input type="text" name="name" required>

        <label>Email</label>
        <input type="email" name="email" required>

        <label>Password</label>
        <input type="password" name="password" required>

        <button type="submit">Sign Up</button>

    </form>

</div>

</body>
</html>